.logo
    display: inline-block
    overflow: hidden
    padding: 5px 0
    border-width: 1px 0
    border-style: solid
    border-color: #888
    &:before
        display: block
        width: 140px
        height: 41px
        background-image: url(_$logo)
        content: ''
