init()
    _$vertical-indent = $vertical-indent
    _$color = #000
    _$font-size = 18px
    _$line-height = 22px
    _$border-color = #888
    _$background-color = #fbfbfb

    @import 'title'


init()