.title
    margin-bottom: _$vertical-indent

.title__text
    padding: (_$vertical-indent / 2)
    box-sizing: border-box
    background-color: #dedede
    color: _$color
    font-size: _$font-size
    line-height: _$line-height
    font-weight: bold
    text-transform: uppercase
