.list
    margin: (_$vertical-indent / -2)

.list_columns_2
    .list__item
        width: 50%

.list_columns_3
    .list__item
        width: (100% / 3)

.list_columns_4
    .list__item
        width: 25%

.list_columns_5
    .list__item
        width: 20%

.list__item
    position: relative
    display: inline-block
    box-sizing: border-box
    border: (_$vertical-indent / 2) solid transparent
    vertical-align: top
    &:before
        display: block
        width: 0
        height: 0
        padding: 50% 0
        content: ''

.list__img
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto
    max-width: 100%
    max-height: 100%
