.list
    margin: (_$vertical-indent / -2)

.list_columns_2
    .list__item
        width: 50%

.list_columns_3
    .list__item
        width: (100% / 3)

.list_columns_4
    .list__item
        width: 25%

.list_columns_5
    .list__item
        width: 20%

.list__item
    display: inline-block
    box-sizing: border-box
    padding: (_$vertical-indent / 2)
    vertical-align: top

.list__img
    vertical-align: top
    max-width 100%
