.float-block
    transition: background-color .2s ease-in-out
    background-color: _$background-color

.float-block_state_active
    box-shadow: 0 1px 10px #000

.float-block_state_sticky
    background-color: _$sticky-background-color
