.container
    display: table
    width: 100%

.container_vertical_middle
    .container__cell
        vertical-align: middle

.container__cell
    display: table-cell
    vertical-align: top

.container__cell_width_700
    width: 700px

.container__cell_width_1
    width: 1px
